
/*TEXTO*/
h2{
    line-height: 32px;
    font-size: 24px;
    font-weight: 600
}

p{
    text-align: left;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400
}

/*BOTAO*/
.botao{
     max-width: 597px;
     height: 48px;
     border-radius: 4px;
     background-color: #2D68FE;
     text-decoration: none;
     justify-content: center;
     margin: 40px 0;
     display: flex;
     text-transform: uppercase;
     align-items: center;


    /*TEXTO*/
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500   
}

.container{
    max-width: 1060px;
    margin: 0 auto;

}

.box{
     display: flex;
     margin-top: 16px;
     border: 1px solid rgb(8, 8, 8);
}

.title{
    width: 639px;
    margin-left: 16px;
}

.image{
    width: 353px;
    height: 188px;
    border-radius: 4px;
    margin: 16px;
}

a{
    display: block;
}

@media screen and (max-width: 768px) {
    img{
        width: 320px;
        height: 194px;
    }

    .botao{
        margin: 10px 0;
        border-radius: 4px;
        margin-bottom: 0px;

    }

    .box{
        width: 360px;
        height: 458px;
        flex-direction: column;
    }

    .container{
        max-width: 360px;
        height: 458px;
    }

    .title{
        width: 328px;
        height: 402px;
    }
    
}
